# Git config file
# When edit, remove the < >

[user]
	name = <Your name here>
	email = <Your e-mail here>
[github]
	user = <Your username here>
[credential]
	helper = osxkeychain
[core]
	editor = nano
	excludesfile = ~/.gitignore_global
	trustctime = false
