# Git config file
# When edit, remove the < >

[user]
	name = <Your name here>
	email = <Your e-mail here>
[github]
	user = <Your username here>
[credential]
	helper = osxkeychain
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
	trustctime = false
[alias]
	pr-size = diff --stat master
[oh-my-zsh]
	hide-dirty = 1
	hide-status = 1
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff
